.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
   }
   
   h1 {
    font-size: 48px;
    margin-bottom: 40px;
   }
   
   .board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid #000;
   }
   
   .square {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    font-size: 72px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
   }
   
   .square:hover {
    background-color: #eee;
   }
   